@model TdaWebApp.Models.Beers

@{
    ViewData["Title"] = "Create";
}

<h1>Create Combination</h1>

<h4>Criteria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label class="control-label col-md-2">Select Drugs:</label>
                <div class="col-md-10">
                    @foreach (var beer in ViewBag.BeersList)
                    {
                        <div class="checkbox">
                            <label asp-for="DrugID">
                                <input asp-for="DrugID" type="checkbox" name="SelectedDrugs" value="@beer.DrugID" />
                                @beer.Drug + @beer.DrugClass + @beer.DrugID
                            </label>
                            <span asp-validation-for="DrugID" class="text-danger"></span>
                        </div>
                    }
                </div>
            </div>


            <div class="validation-summary-errors text-danger">
                @Html.ValidationMessage("DuplicateRecord")
            </div>

            <div class="form-group">
                <label asp-for="Recommendation" class="control-label"></label>
                <input asp-for="Recommendation" class="form-control" />
                <span asp-validation-for="Recommendation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rationale" class="control-label"></label>
                <input asp-for="Rationale" class="form-control" />
                <span asp-validation-for="Rationale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityEvidence" class="control-label"></label>
                <input asp-for="QualityEvidence" class="form-control" />
                <span asp-validation-for="QualityEvidence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrengthRecommendation" class="control-label"></label>
                <input asp-for="StrengthRecommendation" class="form-control" />
                <span asp-validation-for="StrengthRecommendation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
