@model TdaWebApp.Models.Beers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Beers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crcl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crcl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommendation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rationale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rationale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityEvidence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityEvidence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrengthRecommendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrengthRecommendation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteractingDrugOrClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteractingDrugOrClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
